body, html
  height: 100%
  font-family: Microsoft YaHei Regular, Microsoft YaHei, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,  Arial, sans-serif
  font-size: 12px

.clearfix
  display: inline-block
  &:after
    content: '.'
    display: block
    height: 0
    line-height: 0
    clear: both
    visibility: hidden

.container
  width: 1170px
  margin: 0 auto
