@charset "UTF-8";
a,
body {
  color: #221814;
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  border-radius: 0;
  line-height: normal !important; }

fieldset,
img {
  border: 0; }

ol,
ul {
  list-style: none; }

caption,
th {
  text-align: left; }

a {
  text-decoration: none !important; }

a:focus {
  outline-style: none; }

abbr,
acronym {
  border: 0;
  font-variant: normal; }

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4 {
  font-weight: 300; }

i {
  font-style: normal; }

.loader {
  margin: 6px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1px solid rgba(255, 255, 255, 0.2);
  border-right: 1.1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1px solid rgba(255, 255, 255, 0.2);
  border-left: 1.1px solid #ffffff;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear; }

.loader:after {
  content: "";
  border-radius: 50%;
  width: 10px;
  height: 10px; }

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
textarea {
  resize: none; }

ul {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

html {
  -webkit-tap-highlight-color: transparent;
  font-size: 14px;
  color: #333333;
  /*height: 100%;*/
  background-color: #FFFFFF; }

body {
  font-family: "微软雅黑",Helvetica,arial,sans-serif;
  background: #ffffff;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  margin: 0 auto;
  /*height: 100%;*/ }

.global_box {
  width: 100%; }
  .global_box .global_box_top {
    border-bottom: 2px solid #57a126;
    width: 100%; }
    .global_box .global_box_top .nav_top {
      font-size: 12px;
      color: #666666;
      height: 30px;
      background: #f7f7f7;
      border-bottom: 1px solid #e2e2e2;
      line-height: 30px; }
      .global_box .global_box_top .nav_top a {
        color: #666666;
        cursor: pointer; }
      .global_box .global_box_top .nav_top .nav_right {
        height: 30px;
        float: right;
        line-height: 30px; }
        .global_box .global_box_top .nav_top .nav_right a {
          margin-left: 7px;
          border-left: 1px solid #e2e2e2;
          padding-left: 7px; }
          .global_box .global_box_top .nav_top .nav_right a:first-child {
            border-left: none; }
        .global_box .global_box_top .nav_top .nav_right li {
          display: inline-block;
          height: 14px;
          line-height: 14px; }
      .global_box .global_box_top .nav_top .where_box {
        margin-left: 25px;
        display: inline-block; }
        .global_box .global_box_top .nav_top .where_box .iconfont {
          color: #57a126;
          font-weight: bold; }
        .global_box .global_box_top .nav_top .where_box #city {
          margin: 0 6px; }
.center_box {
    width: 1000px;
    margin: 0 auto; }
  .global_box .nav_center {
    height: 60px;
    line-height: 60px;
    font-size: 16px; }
    .global_box .nav_center > img {
      margin-top: 6px; }
    .global_box .nav_center .nav_title {
      float: right;
      height: 47px;
      line-height: 47px;
      margin-top: 13px; }
      .global_box .nav_center .nav_title a {
        float: left;
        width: 100px;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center; }
        .global_box .nav_center .nav_title a:last-child {
          margin-right: 0; }
        .global_box .nav_center .nav_title a.active,.global_box .nav_center .nav_title a:hover {
          background: #57a126;
          color: #FFFFFF; }
.btn {  height: 36px; cursor: pointer; border-radius: 5px; font-size: 16px; line-height: 36px; color: #ffffff; text-align: center; margin: 0 auto; width: 160px; background: #57a126;}

/*# sourceMappingURL=global.css.map */
.footer_box {
	
}
.herf_box { height: 39px; line-height: 39px; background: #e6e8e4;}
.Breadcrumbs {font-size: 16px; margin: 25px 0 20px 0;}
.Breadcrumbs>span {  margin: 0 10px;}
.Breadcrumbs a.active { color: #57a126;}
